<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../dependence/index.css">
  <title>MOT-CLOUD</title>
  <script src="../dependence/vue.js"></script>
  <script src="../dependence/index.js"></script>
  <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <style>
    @font-face {
      font-family: element-icons;
      src: url('../dependence/fonts/element-icons.ttf'), url('../dependence/fonts/element-icons.woff');
    }
    #app, body, html{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    .nav {
      width: 100%;
      height: 60px;
      background-color: rgb(44,111,166);
    }
    .head {
      width: 100%;
      height: 80px;
      background-color: rgb(84,163,232);
    }
    .login-box {
      width: 50%;
      margin: 0 auto;
      margin-top: 22%;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="nav">
      <div style="display: block;height: 100%;">
        <span style="font-size: 24px;line-height: 60px;color: azure;margin-left: 20%;">MOT-CLOUD</span>
      </div>
    </div>
    <div class="head" style="padding: 0 20%;width: 60%;color: aliceblue;padding-top: 20px;">
      <div style="margin-bottom: 10px;">多目标跟踪平台</div>
      上传 MP4 格式文件，标注多目标跟踪结果。
    </div>
    <div class="login-box">
      <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="用户名" prop="username">
          <el-input type="text" v-model="ruleForm.username" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="pass">
          <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item v-if="!loginStatus" label="角色">
          <el-select v-model="ruleForm.role" placeholder="角色">
            <el-option label="普通用户" value="user"></el-option>
            <el-option label="管理员" value="admin"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
          <a style="color: #409EFF;font-size: 12px;float: right;cursor: pointer;" @click="updateFormStatus">没有用户名？注册</a>
        </el-form-item>
      </el-form>
    </div>
  </div>
</body>
<script>
  new Vue({
      el: '#app',
      data() {
        var validatePass = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请输入密码'));
          } else {
            callback();
          }
        };
        var validateUsername = (rule, value, callback) => {
          if (value === '') {
            callback(new Error('请输入用户名'));
          } else {
            callback();
          }
        };
        return {
          loginStatus: true,
          ruleForm: {
            pass: '',
            username: '',
            role: 'user'
          },
          rules: {
            pass: [
              { validator: validatePass, trigger: 'blur' }
            ],
            username: [
              { validator: validateUsername, trigger: 'blur' }
            ],
          }
        };
      },
      created: function () {
        this.loginStatus = true
        axios({
          method:'get',
          url:'http://localhost:8080/get-file-list',
          withCredentials: false, // 默认的
        }).then(function(res){
          console.log(res.status);
        }).catch(function (error) { // 请求失败处理
          console.log(error);
        });
      },
      methods: {
        submitForm(formName) {
          this.$refs[formName].validate((valid) => {
            if (valid) {
              this.login()
            } else {
              console.log('error submit!!');
              return false;
            }
          });
        },
        login() {
          const that = this
          const status = this.loginStatus === true ? 'login' : 'register'
          axios.post('http://localhost:8080/' + status, {
            username: this.ruleForm.username,        // 参数 firstName
            password: this.ruleForm.pass,    // 参数 lastName
            role: this.ruleForm.role
          })
          .then(function (response) {
            if(that.loginStatus === true) {
              that.$message({
                message: '登录成功',
                type: 'success',
                center: true
              });
              localStorage.setItem("role", that.ruleForm.role)
              setTimeout(() => {
                window.location.href = "file:///Users/litingting/GolandProjects/mot-server/cmd/web/html/index.html"
              }, 1000);
            } else {
              that.$message({
                message: '提交注册申请成功',
                type: 'success',
                center: true
              });
            }
          })
          .catch(res => {
            console.log(res.response.data)
            that.$message.error(res.response.data.error);
          });
        },
        updateFormStatus() {
          this.loginStatus = false
        },
        handleCommand(command) {
          this.$message('click on item ' + command);
        },
        handleExceed(files, fileList) {
          this.$message.warning(`当前限制选择 3 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
        },
        beforeRemove(file, fileList) {
          return this.$confirm(`确定移除 ${ file.name }？`);
        },
        handleSuccess(file, fileList) {
          console.log("success")
          this.loading = false
          this.$message({
            message: '文件上传成功！',
            type: 'success'
          });
        },
        handleError(file, fileList) {
          console.log("error")
          this.$message.error('文件上传失败！');
          this.loading = false
        },
        beforeUpload() {
          this.loading = true
        }
      }
    })
</script>
</html>